<!DOCTYPE HTML>
<html layout:decorator="layout/layout" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block layout:fragment="content">

    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">function10 list</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>creation_date</th>
                                <th>status</th>
                                <th>completion_date</th>
                                <th>service_request_number</th>
                                <th>type_of_service_request</th>
                                <th>number_of_premises_baited</th>
                                <th>number_of_premises_with_garbage</th>
                                <th>number_of_premises_with_rats</th>
                                <th>current_activity</th>
                                <th>most_recent_action</th>
                                <th>street_address</th>
                                <th>zip_code</th>
                                <th>x_coordinate</th>
                                <th>y_coordinate</th>
                                <th>ward</th>
                                <th>police_district</th>
                                <th>community_area</th>
                                <th>latitude</th>
                                <th>longitude</th>
                                <th>location</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="function10Result: ${function10Results}">
                                <td th:text="${function10Result[0]}">creation_date</td>
                                <td th:text="${function10Result[1]}">status</td>
                                <td th:text="${function10Result[2]}">completion_date</td>
                                <td th:text="${function10Result[3]}">service_request_number</td>
                                <td th:text="${function10Result[4]}">type_of_service_request</td>
                                <td th:text="${function10Result[5]}">number_of_premises_baited</td>
                                <td th:text="${function10Result[6]}">number_of_premises_witd_garbage</td>
                                <td th:text="${function10Result[7]}">number_of_premises_witd_rats</td>
                                <td th:text="${function10Result[8]}">current_activity</td>
                                <td th:text="${function10Result[9]}">most_recent_action</td>
                                <td th:text="${function10Result[10]}">street_address</td>
                                <td th:text="${function10Result[11]}">zip_code</td>
                                <td th:text="${function10Result[12]}">x_coordinate</td>
                                <td th:text="${function10Result[13]}">y_coordinate</td>
                                <td th:text="${function10Result[14]}">ward</td>
                                <td th:text="${function10Result[15]}">police_district</td>
                                <td th:text="${function10Result[16]}">community_area</td>
                                <td th:text="${function10Result[17]}">latitude</td>
                                <td th:text="${function10Result[18]}">longitude</td>
                                <td th:text="${function10Result[19]}">location</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <form th:action="@{/user/storedFunctions}" method="get">
  		<button type="submit">Back</button>
	</form>
    
</th:block>
</body>
</html>
